.parent {
    // width: 100vw; don't use width if its not necessary
    min-height: 100vh; //use min height if the body is going to grow on size
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    width: 20%;
    min-height: 98vh;
    background-color: #2e2e2d;
    color: aliceblue;

}

.main {
    width: 80%;
    min-height: 98vh;
    background-color: #66645d;
    color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
