.button-container{
  width: 100%;
  height: 35px;
  background-color: white;
  margin:0px;
  button{
    background-color: #2e2e2d;
    width: 100%;
    height: 100%;
    color: white;
    border: none;
  }
  button:hover{
    background-color:#66645d;
  }
  
}
