.App {
  text-align: center;
}

input{
  opacity: 50%;
}
.body{
  display: flex;
}


.header  {
  background-color: red;

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  li{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
  }
  }

  .sidebar{
    width: 25vw;
    height: 98vh;
    background-color: #2e2e2d;
    color: aliceblue;

    ul{
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }
 


.main{
  width: 1000px;
  height: 98vh;
  background-color: #66645d;
  color: azure;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
